.NutritionalInfo__container {
  padding: 0 1rem 2rem;
}
.NutritionalInfo-title {
  @include purpleFonts(20px, 100, 0 0 1rem, unset, unset, 3px);
}

.Ingredients-item,
.Ingredients-description-title {
  font-size: 14px;
  font-weight: 600;
  display: block;
}

.Ingredients-description-title {
  margin: 1rem 0 0;
}

.NutritionalInfoTable {
  margin-top: 3rem;
  width: 100%;
  font-size: 12px;
  color: $fontColorPurple;
  border-collapse: collapse;

  tr td {
    padding: 7px;
    margin: 0;
  }
  tr td:first-child {
    text-align: end;
  }

  tr:nth-child(even) {
    background-color: #fcfcfc;
  }
  tr:nth-child(odd) {
    background-color: #f8f8f8;
  }
}

.DownArrow__wrapper {
  margin-top: -3.5rem;
  position: absolute;
  left: 45%;
}

@media screen and (min-width: $avobe768) {
  .NutritionalInfo__container {
    padding: 4rem 7rem 2rem;
  }

  .NutritionalInfo__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .NutritionalInfoTable {
    margin-top: 0;
  }

  .NutritionalInfo-details__container {
    width: 40%;
  }

  .NutritionalInfoTable__container {
    width: 50%;
  }

  .DownArrow__wrapper {
    margin-top: -8.5rem;
  }
}

@media screen and (min-width: $avobe1240) {
  .NutritionalInfo__container {
    padding: 9rem 15rem 5rem;
  }

  .NutritionalInfo-title {
    @include purpleFonts(32px, 100, 0 0 2.5rem, unset, unset, 5px);
  }
  .NutritionalInfoTable__container {
    width: 57%;
  }

  .DownArrow__wrapper {
    margin-top: -13.5rem;
  }
}

@media screen and (min-width: $avobe1600) {
  .NutritionalInfo__container {
    padding: 9rem 32rem 3rem;
  }
}
