body,
main,
html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

button {
  outline: none;
  border: none;
}

.StrawberriesBackground__container {
  width: 100vw;
  height: 190vh;
  position: absolute;
  z-index: 1;
  overflow-x: hidden;
  pointer-events: none;
}

.strawberry1__hero {
  top: 25px;
  right: -126px;
  width: 251px;
  height: 190px;
}

.strawberry6__hero {
  top: 75px;
  left: -58px;
  width: 126px;
  height: 243px;
}

.strawberry5__nutritionalInfo {
  width: 129px;
  height: 150px;
  top: 796px;
  right: -68px;
}

.strawberry3__nutritionalInfo {
  width: 160px;
  height: 129px;
  top: 1020px;
  left: -68px;
}

@media screen and (min-width: 768px) {
  .strawberry1__hero {
    top: -102px;
    right: 143px;
    width: 471px;
    height: 455px;
  }
  .strawberry6__hero {
    top: -19px;
    left: 162px;
    width: 117px;
    height: 186px;
  }
  .strawberry2__hero {
    top: 519px;
    right: 106px;
    width: 139px;
    height: 175px;
  }
  .strawberry5__nutritionalInfo {
    width: 187px;
    height: 216px;
    top: 724px;
    right: -89px;
  }
  .strawberry3__nutritionalInfo {
    width: 184px;
    height: 199px;
    top: 1071px;
    left: -63px;
  }
  .strawberry2__nutritionalInfo {
    width: 320px;
    height: 406px;
    top: 457px;
    left: -182px;
    filter: blur(3px);
  }
  .strawberry2-bluried__vitalineaFamily {
    width: 320px;
    height: 420px;
    top: 1074px;
    right: -136px;
    filter: blur(3px);
  }
}
@media screen and (min-width: 1240px) {
  .strawberry4__nutritionalInfo {
    width: 174px;
    height: 204px;
    top: 760px;
  }
  .strawberry2__vitalineaFamily {
    width: 140px;
    height: 175px;
    top: 1120px;
    left: 319px;
  }
}
.NavBar__container {
  height: 12rem;
  width: 100%;
  background: rgba(255, 255, 255, 0.61);
  -webkit-backdrop-filter: blur(10.5px);
          backdrop-filter: blur(10.5px);
  position: absolute;
  left: 0;
  transition: all 0.5s;
}

.NavBarList__container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.hidden {
  position: absolute;
  left: -200rem;
  transition: all 0.5s;
}

.NavBar_socials {
  display: none;
}

@media screen and (min-width: 768px) {
  .NavBar__container {
    position: unset;
    height: inherit;
    width: 52%;
    background: none;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    left: unset;
  }
  .NavBar__container .NavBarList__container {
    flex-direction: row;
    justify-content: space-between;
  }
  .NavBar_socials {
    display: flex;
  }
  .NavBar_socials a:nth-child(2) {
    margin: 0 1rem;
  }
}
@media screen and (min-width: 1600px) {
  .NavBar__container {
    width: 37%;
    background: none;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }
}
.Header__wrapper {
  width: 100%;
  position: absolute;
  z-index: 1;
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10.5px);
          backdrop-filter: blur(10.5px);
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .Header__wrapper {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
  }
}
.Header__container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MobileMenu__icon {
  cursor: pointer;
}
.MobileMenu__icon .MobileMenu__icon--line {
  background-color: #b98b3c;
  border-radius: 12px;
  display: block;
  width: 18px;
  height: 2px;
  position: relative;
  transition: all 0.2s ease-out;
}
.MobileMenu__icon .MobileMenu__icon--line::before {
  background-color: #B98B3C;
  content: "";
  display: block;
  height: 100%;
  width: 22px;
  border-radius: 12px;
  position: absolute;
  top: 6px;
  right: 0;
  transition: all 0.2s ease-out;
}
.MobileMenu__icon .MobileMenu__icon--line::after {
  background-color: #B98B3C;
  content: "";
  display: block;
  height: 100%;
  width: 22px;
  border-radius: 12px;
  position: absolute;
  top: -6px;
  right: 0;
  transition: all 0.2s ease-out;
}
.MobileMenu__icon .menuClicked {
  width: 0;
}
.MobileMenu__icon .menuClicked::before {
  top: 0;
  transform: rotate(-45deg);
}
.MobileMenu__icon .menuClicked::after {
  top: 0;
  transform: rotate(45deg);
}

@media screen and (min-width: 768px) {
  .Header__wrapper {
    padding: 0rem 5rem;
    display: flex;
    justify-content: space-between;
  }
  .MobileMenu__icon {
    display: none;
  }
}
.Hero__container {
  padding: 6rem 1rem 0 1rem;
  height: 775px;
  background-image: linear-gradient(180deg, #f9e6e6, #ebacac);
  box-shadow: 0 14px 44px 0 rgba(0, 0, 0, 0.09);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 91%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 91%);
  position: relative;
}

.HeroInfoContent__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HeroInfoContent-img__wrapper {
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 4rem;
  display: flex;
  justify-content: center;
}
.HeroInfoContent-img__wrapper img {
  width: 14rem;
}

.HeroBuyButton__wrapper {
  margin-top: 1rem;
  width: 100%;
}
.HeroBuyButton__wrapper button {
  width: 100%;
  height: 2.5rem;
  border-radius: 4px;
  background-color: #78246d;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  transition: background 2s ease-in;
}
.HeroBuyButton__wrapper button:hover {
  background: linear-gradient(225deg, #78246d 0%, #b381ac 100%);
}

.HeroCertificationIcons__container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.strawberry1__hero {
  top: 25px;
  right: -126px;
  width: 251px;
  height: 190px;
}

.strawberry6__hero {
  top: 75px;
  left: -58px;
  width: 126px;
  height: 243px;
}

@media screen and (min-width: 768px) {
  .Hero__container {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 84%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 84%);
    height: 668px;
  }
  .HeroInfoContent__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .HeroInfoContent-img__wrapper {
    width: 20%;
  }
  .HeroInfoContent-img__wrapper img {
    width: 22rem;
  }
  .strawberry1__hero {
    top: -102px;
    right: 143px;
    width: 471px;
    height: 455px;
  }
  .strawberry6__hero {
    top: -19px;
    left: 162px;
    width: 117px;
    height: 186px;
  }
  .strawberry2__hero {
    top: 519px;
    right: 106px;
    width: 139px;
    height: 175px;
  }
}
.Strawberry__container {
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.HeroFlavorInfoButtons__container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
.HeroFlavorInfoButtons__container .p {
  font-weight: 600;
}
.HeroFlavorInfoButtons__container .FlavorButtons__container button {
  width: 5rem;
  height: 1.3rem;
  cursor: pointer;
  background-color: transparent;
  margin-left: 0.5rem;
  border: 1px solid rgba(155, 155, 155, 0.5607843137);
  border-radius: 10px;
  font-weight: 600;
  transition: background-color 1s ease;
}
.HeroFlavorInfoButtons__container .FlavorButtons__container button:hover {
  background-color: rgba(255, 0, 0, 0.1019607843) !important;
}

.HeroFlavorInfo__container {
  margin-top: -5rem;
}

.selectecButton {
  background-color: rgba(255, 0, 0, 0.1019607843) !important;
}

.HeroFlavorInfoText__container .FlavorInfoText--title {
  margin-bottom: 10px;
  font-size: 20px;
  color: #78246d;
}
.HeroFlavorInfoText__container .FlavorInfoText--description {
  width: 90%;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .HeroFlavorInfoButtons__container {
    justify-content: unset;
  }
  .HeroInfoContent__container {
    width: 45%;
    align-items: start;
  }
  .HeroBuyButton__wrapper {
    width: 16rem;
  }
}
.NutritionalInfo__container {
  padding: 0 1rem 2rem;
}

.NutritionalInfo-title {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 1rem;
  color: #78246d;
}

.Ingredients-item,
.Ingredients-description-title {
  font-size: 14px;
  font-weight: 600;
  display: block;
}

.Ingredients-description-title {
  margin: 1rem 0 0;
}

.NutritionalInfoTable {
  margin-top: 3rem;
  width: 100%;
  font-size: 12px;
  color: #78246d;
  border-collapse: collapse;
}
.NutritionalInfoTable tr td {
  padding: 7px;
  margin: 0;
}
.NutritionalInfoTable tr td:first-child {
  text-align: end;
}
.NutritionalInfoTable tr:nth-child(even) {
  background-color: #fcfcfc;
}
.NutritionalInfoTable tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.DownArrow__wrapper {
  margin-top: -3.5rem;
  position: absolute;
  left: 50%;
}

@media screen and (min-width: 768px) {
  .NutritionalInfo__container {
    padding: 4rem 7rem 2rem;
  }
  .NutritionalInfo__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .NutritionalInfoTable {
    margin-top: 0;
  }
  .NutritionalInfo-details__container {
    width: 40%;
  }
  .NutritionalInfoTable__container {
    width: 50%;
  }
  .DownArrow__wrapper {
    margin-top: -8.5rem;
  }
}
@media screen and (min-width: 1240px) {
  .NutritionalInfo__container {
    padding: 4rem 15rem 3rem;
  }
  .NutritionalInfo-title {
    font-size: 32px;
    letter-spacing: 4px;
  }
  .NutritionalInfoTable__container {
    width: 57%;
  }
}
@media screen and (min-width: 1600px) {
  .NutritionalInfo__container {
    padding: 4rem 32rem 3rem;
  }
}
.VitalineaFamily__container {
  height: 500px;
  padding: 2rem 0 4rem 1rem;
  background: url("../assets/backgrounds/pink-textured-background.png");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.VitalineaFamily-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  color: #78246d;
}

.VitaliaItems__container {
  align-items: flex-end;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  padding-bottom: 25px;
}

.VitalineaItem__container {
  text-align: center;
}
.VitalineaItem__container .VitalineaItem--img__wrapper img {
  width: 9rem;
}
.VitalineaItem__container .VitalineaItem--name {
  font-size: 13px;
  font-weight: 600;
  color: #78246d;
}

@media screen and (min-width: 481px) {
  .VitaliaItems__container {
    justify-content: center;
    gap: 28px;
    overflow-x: hidden;
  }
}
@media screen and (min-width: 1240px) {
  .VitaliaItems__container {
    gap: 10rem;
    padding-bottom: 0;
  }
  .VitalineaItem__container {
    text-align: center;
  }
  .VitalineaItem__container .VitalineaItem--img__wrapper img {
    width: 13rem;
  }
}
.Footer__container {
  padding: 1.5rem 1rem;
}

.FooterIcons__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FooterTermsAndConditions__container {
  text-align: center;
  font-weight: 600;
}
.FooterTermsAndConditions__container p:first-child {
  font-size: 11px;
}
.FooterTermsAndConditions__container p:nth-child(2) {
  font-size: 12px;
  margin: 0 15px;
}

@media screen and (min-width: 768px) {
  .Footer__container {
    position: relative;
  }
  .FooterTermsAndConditions__container {
    text-align: start;
    position: absolute;
    top: 29px;
    left: 85px;
  }
  .FooterTermsAndConditions__container p:nth-child(2) {
    margin: 5px 0;
  }
}/*# sourceMappingURL=styles.css.map */