.Header__wrapper {
  width: 100%;
  position: absolute;
  z-index: 1;
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .Header__wrapper {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.Header__container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MobileMenu__icon {
  cursor: pointer;
  .MobileMenu__icon--line {
    background-color: #b98b3c;
    border-radius: 12px;
    display: block;
    width: 18px;
    height: 2px;
    position: relative;
    transition: all 0.2s ease-out;

    &::before {
      @include burgerMenuLine(6px);
    }
    &::after {
      @include burgerMenuLine(-6px);
    }
  }

  .menuClicked {
    width: 0;
    &::before {
      @include burgerMenuLineClicked(rotate(-45deg));
    }
    &::after {
      @include burgerMenuLineClicked(rotate(45deg));
    }
  }
}

@media screen and (min-width: $avobe768) {
  .Header__wrapper {
    padding: 0rem 5rem;
    display: flex;
    justify-content: space-between;
  }

  .MobileMenu__icon {
    display: none;
  }
}
