.Footer__container {
  padding: 1.5rem 1rem;
}

.FooterIcons__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FooterTermsAndConditions__container {
  text-align: center;
  font-weight: 600;

  p:first-child {
    font-size: 11px;
  }
  p:nth-child(2) {
    font-size: 12px;
    margin: 0 15px;
  }
}

@media screen and (min-width: $avobe768) {
  .Footer__container {
    position: relative;
  }

  .FooterTermsAndConditions__container {
    text-align: start;
    position: absolute;
    top: 29px;
    left: 85px;
    p:nth-child(2) {
      margin: 5px 0;
    }
  }
}
